{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Students Mentoring Portal</title>

  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
</head>
<body>
  <!-- Left Section -->
  <div class="left">
    <img src="{% static 'images/logo.jpg' %}" alt="Logo" class="logo">

    <div class="heading-block">
      <img src="{% static 'images/book.png' %}" alt="Book Icon" class="book-icon">
      <h1>Welcome<span>, to</span></h1>
      <p>Students Mentoring portal</p>
    </div>

    <img src="{% static 'images/illustration.png' %}" alt="Illustration" class="illustration">
  </div>
  <!-- Right Section -->
  <div class="right">
    <div class="role-selection">
      <h3>Select your role</h3>
      <form method="get" action="{% url 'signin' %}">
        <label><input type="radio" name="role" value="admin"> Admin</label>
        <label><input type="radio" name="role" value="mentor"> Mentor</label>
        <label><input type="radio" name="role" value="student"> Student</label><br>
        <button type="submit" class="btn">Next →</button>
      </form>
    </div>
  </div>
</body>
</html>
